*{
    padding: 0;
    margin: 0;
}

.all-senha{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    background-color: #267058;    
    height: 100vh;                    //#B6F2EC, #07735F, #16594D
    width: 100vw;

    .container-senha{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #ebfff8;
        border: 2px solid #2c6e4f;
        height: 60%;
        width: 50%;


    }
}