* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.redefinir-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(180deg, #1c7e5d, #0e4c38);
  min-height: 100vh;
  width: 100vw;
  padding: 20px;
}

.redefinir-card {
  background-color: #ebfff8;
  border: 2px solid #2c6e4f;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 30%;
  height: 400px;
  padding: 40px 35px;
  text-align: center;

  h2 {
    color: #155c47;
    margin-bottom: 25px;
    font-size: 1.8rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;

    label {
      font-weight: bold;
      color: #16594d;
      display: flex;
      flex-direction: column;
      font-size: 0.95rem;
    }

    input {
      margin-top: 5px;
      padding: 15px;
      border: 1px solid #2c6e4f;
      border-radius: 5px;
      outline: none;
      transition: border 0.3s ease;

      &:focus {
        border-color: #1c7e5d;
      }
    }

    .erro {
      color: #c0392b;
      text-align: center;
      font-weight: bold;
    }

    .sucesso {
      color: #1c7e5d;
      text-align: center;
      font-weight: bold;
    }

    button {
      background-color: #1c7e5d;
      color: #fff;
      font-weight: bold;
      padding: 12px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 1rem;
      margin-top: 10px;
      transition: background 0.3s ease;

      &:hover {
        background-color: #155c47;
      }

      &:disabled {
        background-color: #7c9d91;
        cursor: not-allowed;
      }
    }
  }
}

.invalid-token {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: #f8f9fa;
  color: #333;
  padding: 20px;

  h2 {
    color: #c0392b;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 20px;
    max-width: 400px;
  }

  a {
    background: #1c7e5d;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;

    &:hover {
      background: #155c47;
    }
  }
}
