* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all-entrar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #107764;
    padding: 20px;
}

.container-entrar {
    background: #fff;
    width: 100%;
    max-width: 420px;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.logosite-entrar {
    align-self: center;
}

.Entrar {
    border: 3px solid #017B38;
    border-radius: 8px;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.Login-linha {
    text-align: center;

    h1 {
        font-family: 'Inter', sans-serif;
        font-size: 32px;
        color: #017B38;
    }

    .linha-entrar {
        width: 100%;
        max-width: 200px;
        height: 2px;
        background: #2e2e2e;
        margin: 8px auto 0 auto;
    }
}

.cpf-senha {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

label {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;

    p {
        font-size: 18px;
        color: #333;
    }

    input {
        height: 45px;
        width: 100%;
        padding: 0 14px;
        border: 3px solid #017B38;
        border-radius: 6px;
        font-size: 16px;
    }

    .msg-erro {
        color: red;
        font-size: 14px;
    }
}

.password-input-container {
    position: relative;
    width: 100%;

    input {
        padding-right: 45px;
    }
}

.toggle-password-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.esquecisenha {
    text-decoration: none;
    color: #0366fa;
    font-size: 15px;
}

.btn-entrar {
    background-color: #017B38;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
}

.naotemconta {
    text-align: center;

    a {
        color: #017B38;
        font-weight: bold;
        text-decoration: none;
    }
}



@media (max-width: 450px) {
    .Entrar {
        padding: 18px;
    }

    .Login-linha h1 {
        font-size: 26px;
    }

    label p {
        font-size: 16px;
    }

    input {
        font-size: 14px;
    }

    .btn-entrar {
        font-size: 16px;
        padding: 12px;
    }
}

@media (max-width: 380px) {
    .container-entrar {
        padding: 15px;
    }

    .Entrar {
        padding: 15px;
    }
}
