* {
    padding: 0;
    margin: 0;
}


    .Container-cadastro{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .logosite {
            height: 100px;
            width: 200px;
        }

        .aviso{
            display: flex;
        }
    }

