* {
    padding: 0;
    margin: 0;
}


    .Container-cadastro{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;

        .duo{
            margin-left: -240px;
               display: flex;
               align-items: center;
               gap: 240px;

               .seta{
               transition: all 0.3s;

               &:hover{
                transform: scale(1.1);
               }
            }
        }

        .logosite {
            height: 100px;
            width: 200px;
        }

        .aviso{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #DCEFF9;
            border-radius: 5px;
            height: 100px;
            width: 730px;

            

          

            img{
                margin-bottom: 30px;
            }

            p{
                font-family: Arial, Helvetica, sans-serif;
            }

        }
    }

