* {
    padding: 0;
    margin: 0;
}


.all{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170vh;
    width: 100vw;
    background-color: #145045;
    //#B6F2EC, #07735F, #16594D

    .Container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        background-color: white;
        border-radius: 10px;
        height: 95%;
        width: 800px;
       

        .primeiroP {
            font-size: 17px;
            color: #017B38;
            font-family: Arial, Helvetica, sans-serif;
        }

        .informação-usuário{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 1000px;
            width: 650px;
            border: 3px solid #017B38;
            border-radius: 30px;

        .dados-usu{
            font-size: 18px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            color: #017B38;
            position: absolute;
            top: 5%;
            left: 5%;
        }
        
    

    .dados{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        label{
            display: flex;
            flex-direction: column;
            gap: 5px;
            p{
                font-family: Arial, Helvetica, sans-serif;
                color: #017B38;
                font-weight: bold;
            }
        }

        .grupo1{
            display: flex;
            gap: 74px;

            input{
            text-align: left;
            height: 35px;
            width: 240px;
            border-radius: 5px;
            border: 2px solid #017B38;
            background-color: #EEEEEE;
            color: #000000;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            text-indent: 15px;    

            }

          
        }

        input{
            text-align: left;
            height: 35px;
            width: 550px;
            border-radius: 5px;
            border: 2px solid #017B38;
            background-color: #EEEEEE;
            color: #000000;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            text-indent: 15px;
        }

      
    }

    .endereço{
        margin-top: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        label{
            display: flex;
            flex-direction: column;
            gap: 5px;
            p{
                font-family: Arial, Helvetica, sans-serif;
                color: #017B38;
                font-weight: bold;
            }
        }

        .endereço-usu{
            font-size: 18px;
           font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            color: #017B38;
            position: absolute;
            top: 50%;
            left: 5%;
        }

        .grupo2{
            display: flex;
            gap: 74px;

            input{
                display: flex;
                justify-content: start;
                height: 35px;
                width: 240px;
                border-radius: 5px;
                border: 2px solid #017B38;
                background-color: #EEEEEE;
                color: #000000;
                font-weight: bold;
                font-family: Arial, Helvetica, sans-serif;
                text-indent: 15px;
            }
        }

        
        input{
            display: flex;
            justify-content: start;
            height: 35px;
            width: 550px;
            border-radius: 5px;
            border: 2px solid #017B38;
            background-color: #EEEEEE;
            color: #000000;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            text-indent: 15px;
        }
    }
}

    .doisfinais{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        button{
            border: none;
            margin-top: 50px;
            padding: 15px 250px;
            border-radius: 5px;
            background-color: #017B38;
            font-size: 15px;
            color: white;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            transition: all 0.3s;


            &:hover{
                background-color: #065e4d;
                transform: scale(105%);

            
            }

            &:active{
                transform: scale(95%);
                background-color: #017B38;
            }

            

            
            
        }

        p{
            color: #017B38;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}
}